<!-- blog/templates/voter_analytics/graphs.html -->
{% extends 'voter_analytics/base.html' %}

{% block content %}
<!--Form for filters-->
<form method="get" action="{% url 'graphs' %}">
    <!--Affiliation drop down filter-->
    <div>
        <label for="affiliation">Party Affiliation:</label>
        <select name="affiliation" id="affiliation">
            <option value="">--Select--</option>
            {% for party in affiliations %}
                <option value="{{ party }}" {% if request.GET.affiliation == party %}selected{% endif %}>{{ party }}</option>
            {% endfor %}
        </select>
    </div>
    <!--min_dob drop down filter-->
    <div>
        <label for="min_dob">Minimum Date of Birth (Year):</label>
        <select name="min_dob" id="min_dob">
            <option value="">--Select--</option>
            {% for year in years %}
                <option value="{{ year }}" {% if request.GET.min_dob == year|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>
    </div>
    <!--max_dob drop down filter-->
    <div>
        <label for="max_dob">Maximum Date of Birth (Year):</label>
        <select name="max_dob" id="max_dob">
            <option value="">--Select--</option>
            {% for year in years %}
                <option value="{{ year }}" {% if request.GET.max_dob == year|stringformat:"s" %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>
    </div>
    <!--voter_score drop down filter-->
    <div>
        <label for="voter_score">Voter Score:</label>
        <select name="voter_score" id="voter_score">
            <option value="">--Select--</option>
            {% for score in voter_scores %}
                <option value="{{ score }}" {% if request.GET.voter_score == score %}selected{% endif %}>{{ score }}</option>
            {% endfor %}
        </select>
    </div>
    <!--Specific Elections checkbox filter-->
    <div>
        <label>Specific Elections Voted:</label><br>
        <input type="checkbox" name="v20state" value="yes" {% if request.GET.v20state == "yes" %}checked{% endif %}> 2020 State<br>
        <input type="checkbox" name="v21town" value="yes" {% if request.GET.v21town == "yes" %}checked{% endif %}> 2021 Town<br>
        <input type="checkbox" name="v21primary" value="yes" {% if request.GET.v21primary == "yes" %}checked{% endif %}> 2021 Primary<br>
        <input type="checkbox" name="v22general" value="yes" {% if request.GET.v22general == "yes" %}checked{% endif %}> 2022 General<br>
        <input type="checkbox" name="v23town" value="yes" {% if request.GET.v23town == "yes" %}checked{% endif %}> 2023 Town<br>
    </div>

    <div>
        <button type="submit">Search</button>
    </div>
</form>

<div>
    <h3>Voter Graphs</h3>

    <h4>Birth Year Distribution</h4>
    <div>{{ birth_year_graph|safe }}</div>

    <h4>Party Affiliation Distribution</h4>
    <div>{{ affiliation_graph|safe }}</div>

    <h4>Voter Participation in Elections</h4>
    <div>{{ election_graph|safe }}</div>
</div>
{% endblock %}